._6n13{color:#4b4f56;padding:12px}
.sp_qUaOb4VXZFt{background-image:url(/rsrc.php/v3/yn/r/MO0riy_4Q-l.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:64px;width:64px}.sp_qUaOb4VXZFt.sx_7bc679{background-position:0 0}.sp_qUaOb4VXZFt.sx_4e78ed{background-position:0 -65px}

#bootloader_u2E_9{height:42px;}.bootloader_u2E_9{display:block!important;}